.header {
  .header-sec {
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 14px 0px;
    align-items: center;
    .headrer-menu {
      .menu-image {
      }
    }
    .search-item {
      .search-box {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1),
          0 4px 15px 0 rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        padding: 8px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .search-image-shere {
          padding-right: 10px;
        }
        .delivery-address {
          margin: 0px;
          text-align: center;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(7, 6, 6, 0.7);
        }
      }
    }
    .delivery-wrapper {
      .delivery-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #0b0909;

        .time-clock {
          padding-right: 10px;
        }
        .space {
          display: flex;
          justify-content: center;
          align-items: center;
          .outline {
            align-self: start;
          }
        }
      }
    }
    .home-shop {
      .home-shop-wrapper-block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .shop-image {
          white-space: nowrap;
          padding-right: 10px;
        }
        .home-shop-text {
          text-align: center;
          margin: 0px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .like-store {
      display: flex;
      justify-content: center;
      align-items: center;
      .like {
        margin-right: 50px;
        .ant-scroll-number,
        .ant-badge-count {
          background: #fff;
          color: #000;
          border: 0.5px solid #7a7575;
        }
      }
      .store {
        .ant-scroll-number,
        .ant-badge-count {
          background: #fff;
          color: #000;
          border: 0.5px solid #7e7979;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .header {
    .header-sec {
      float: none;
      display: block;
    }
  }
}
