.landing-page {
  .landing-banner {
    background-image: url("../../Assets//image/Group\ 502.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    .header-center {
      display: flex;
      justify-content: center;
      align-items: center;
      .header-title {
        margin-top: 27px;
        .heading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 60px;
          text-align: center;
          color: #ffffff;
          margin: 0px;
        }
        .heading-sub-title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 72px;
          text-align: center;
          color: #ffffff;
          margin: 0px;
        }
      }
    }
    .search-box {
      .search-box-border {
        display: flex;
        justify-content: center;
        margin-top: 65.66px;
        .search-input {
          border-radius: 20px;
          border: none;
          background: #ffffff;
          border-radius: 30px 0px 0px 30px;
          padding: 14px 22px 12px 22px;
        }
        ::placeholder {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(7, 6, 6, 0.7);
        }

        .search-button {
          background: #43b028;
          border-radius: 0px 30px 30px 0px;
          border: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          padding-right: 14px ;
          color: #ffffff;
        }
      }
    }
  }
}
